{
  "manifest_version": 3,
  "name": "Doki Theme",
  "version": "1.0.0",

  "browser_specific_settings": {
    "gecko": {
      "id": "dtf@sasha0552.org"
    }
  },

  "icons": {
    "16": "images/doki-theme-logo@16.png",
    "32": "images/doki-theme-logo@32.png",
    "64": "images/doki-theme-logo@64.png"
  },

  "theme": {
    "colors": {
      "bookmark_text": "{{ manifest.colors.accentColor }}",
      "button_background_active": "{{ manifest.colors.highlightColor }}",
      "button_background_hover": "{{ manifest.colors.highlightColor }}",
      "frame": "{{ manifest.colors.baseBackground }}",
      "frame_inactive": "{{ manifest.colors.caretRow }}",
      "icons": "{{ manifest.colors.accentColor }}",
      "icons_attention": "{{ manifest.colors.stopColor }}",
      "ntp_background": "{{ manifest.colors.baseBackground }}",
      "popup": "{{ manifest.colors.secondaryBackground }}",
      "popup_border": "{{ manifest.colors.borderColor }}",
      "popup_highlight": "{{ manifest.colors.selectionBackground }}",
      "popup_highlight_text": "{{ manifest.colors.selectionForeground }}",
      "popup_text": "{{ manifest.colors.foregroundColor }}",
      "sidebar":"{{ manifest.colors.secondaryBackground }}",
      "sidebar_border":"{{ manifest.colors.borderColor }}",
      "sidebar_highlight":"{{ manifest.colors.selectionBackground }}",
      "sidebar_highlight_text":"{{ manifest.colors.selectionForeground }}",
      "sidebar_text": "{{ manifest.colors.foregroundColor }}",
      "tab_background_separator": "{{ manifest.colors.borderColor }}",
      "tab_background_text": "{{ manifest.colors.infoForeground }}",
      "tab_line": "{{ manifest.colors.accentColor }}",
      "tab_loading": "{{ manifest.colors.accentColor }}",
      "tab_selected": "{{ manifest.colors.highlightColor }}",
      "tab_text": "{{ manifest.colors.foregroundColor }}",
      "toolbar": "{{ manifest.colors.headerColor }}",
      "toolbar_bottom_separator": "{{ manifest.colors.borderColor }}",
      "toolbar_field": "{{ manifest.colors.textEditorBackground }}",
      "toolbar_field_border": "{{ manifest.colors.borderColor }}",
      "toolbar_field_border_focus": "{{ manifest.colors.accentColor }}",
      "toolbar_field_focus": "{{ manifest.colors.textEditorBackground }}",
      "toolbar_field_highlight": "{{ manifest.colors.selectionBackground }}",
      "toolbar_field_highlight_text": "{{ manifest.colors.selectionForeground }}",
      "toolbar_field_text": "{{ manifest.colors.infoForeground }}",
      "toolbar_field_text_focus": "{{ manifest.colors.accentColor }}",
      "toolbar_text": "{{ manifest.colors.accentColor }}",
      "toolbar_top_separator": "{{ manifest.colors.borderColor }}",
      "toolbar_vertical_separator": "{{ manifest.colors.borderColor }}"
    }
  }
}
