:root {
  caret-color: {{ manifest.colors.accentColor }} !important; 
}

::selection {
  color: {{ manifest.colors.selectionForeground }} !important;
  background-color: {{ manifest.colors.selectionBackground }} !important;
}
